
@{
    ViewBag.Title = "MSSQLHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="gx-container">
    <div class="gx-main-container">
        <div class="gx-main-content">
            <!--gx-wrapper-->
            <div class="gx-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-heading d-sm-flex justify-content-sm-between align-items-sm-center" aria-expanded="true" aria-controls="collapseOne">
                            <h2 class="title mb-3 mb-sm-0">
                                Generate Barcode & QR Code
                            </h2>
                            @*<nav class="mb-0 breadcrumb">
                                    <a style="float:right; margin-right:10px;"><i class='zmdi zmdi-plus-circle-o zmdi-hc-fw'></i> </a>
                                </nav>*@
                        </div>
                        <div class="gx-card max-hight-scroll">
                            <div class="gx-card-body collapse show" id="collapseOne">
                                <form id="rootwizard-2" class="form-wizard validate-form-wizard validate">
                                    <div class="wizard-navbar">
                                        <ul>
                                            <li class="active"><a class="active show" href="#tab2-1" data-toggle="tab"><span class="wz-number">1</span> <span class="wz-label">DB Connection</span></a></li>
                                            <li><a href="#tab2-2" data-toggle="tab"><span class="wz-number">2</span> <span class="wz-label">Table Filter</span></a></li>
                                            <li><a href="#tab2-3" data-toggle="tab"><span class="wz-number">3</span> <span class="wz-label">Select Columns</span></a></li>
                                            <li><a href="#tab2-4" data-toggle="tab"><span class="wz-number">4</span> <span class="wz-label">Table</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane  active" id="tab2-1">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="serverName" class="control-label">Server</label>
                                                        <input placeholder="Server" type="text" class="form-control required" name="serverName" id="serverName">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName" class="control-label">Username</label>
                                                        <input placeholder="username" type="text" class="form-control required" name="userName" id="userName">
                                                        <span id="userNameErr" style="font-size:12px;color:red;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="password" class="control-label">Password</label>
                                                        <input placeholder="password" type="password" class="form-control required" name="password" id="password">
                                                        <span id="PasswordErr" style="font-size:12px;color:red;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="prefixName" class="control-label">Prefix database</label>
                                                        <input placeholder="Prefix" type="text" class="form-control" name="prefixName" id="prefixName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" name="Windows" id="Windows" value="windows" /> Windows Authentication?
                                                        @*<button class="btn btn-primary" onclick="LoadDatabases()">Load Databases</button>*@
                                                        <img src="~/images/spin-icon-2.gif" id="loadIcon" style="width:25px;height:25px;" />
                                                        <span id="connectErr" style="font-size:12px;color:red;"></span>
                                                        <span id="connectSuccess" style="font-size:12px;color:green;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2-2">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="Databases" class="control-label">Select Database</label>
                                                        <select class="form-control" id="Databases" onchange="LoadTables()"><option value="choose">choose</option></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="emailfield" class="control-label">Select Category</label>
                                                        <select class="form-control" id="Tables" onchange="LoadColumns()"><option value="choose">choose</option></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2-3">
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="AvailableDpdwnlist" class="control-label">Available Columns</label>
                                                        <select class="form-control" style="height:110px;width:220px;" multiple id="AvailableDpdwnlist"><option></option></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <br /><br />
                                                    <a class="btn btn-primary" id="forwardToSelectDrpdwn" onclick="forwardToSelectDrpdwn()">>></a><br /><br />
                                                    <a class="btn btn-primary" id="DisSelectDrpdwn" onclick="DisSelectDrpdwn()"><<</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="SelectedDpdwnlist" class="control-label">Selected Columns</label>
                                                        <select class="form-control" style="height:110px;width:220px" multiple id="SelectedDpdwnlist"><option></option></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <a class="btn btn-primary" onclick="Run()">Run</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2-4">
                                            <div class="row">
                                                <table class="table table-striped table-bordered table-hover dataTables-example" id="userTable"></table>
                                                <table class="table table-striped table-bordered table-hover dataTables-example" id="SearchTable"></table>
                                                <table class="table table-striped table-unbordered table-hover dataTables-example" id="FilterTable"></table>
                                                <table class="table table-striped table-bordered table-hover dataTables-example" id="HashTable"></table>
                                                <table style="display:none;" class="table table-striped table-bordered table-hover dataTables-example" id="tableY">
                                                    <thead></thead>
                                                    <tbody></tbody>
                                                </table>
                                                @*<buton class="btn btn-success" data-toggle='modal' data-target='#myModal3'>Export QR code</buton>*@
                                                <buton class="btn btn-success" data-toggle='modal' data-target='#myModal3' onclick="getFilterData()">Export QR code</buton>
                                                <buton class="btn btn-success" data-toggle='modal' data-target='#myModal5' onclick="GetBarcodeFilterData()">Export Barcode</buton>
                                                <buton class="btn btn-success" onclick="GenerateSingleQRcodeForAllRows()">Generate Single QR Code</buton>
                                            </div>
                                        </div>
                                        <ul class="pager wizard">
                                            <li class="previous"><a href="javascript:void(0)"><i class="icon-left-open"></i>Previous</a></li>
                                            <li class="next" id="loadButton"><a href="javascript:void(0)" onclick="LoadDatabases()">Next<i class="icon-right-open"></i></a> </li>
                                            @*<li class="next" id="RunButton"><a href="javascript:void(0)" onclick="Run()">Next<i class="icon-right-open"></i></a> </li>*@
                                            <li class="next" id="nextbutton"><a href="javascript:void(0)">Next<i class="icon-right-open"></i></a> </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="max-width:900px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">QR Code</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                        <img id="qrCode" src="" width="190" height="190" />
                        @*<img id="qrCode" src="" style="width:200px;height:200px"/>*@
                    </div>
                    <div class="col-md-4">
                        <label id="qrcodeLbl"></label>
                    </div>
                    <div class="col-md-2">

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="PrintImage('qrCode')">Print</button>
                @*<button type="button" class="btn btn-primary">Pdf</button>*@
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog" style="max-width:900px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Barode</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <img id="barcode" src="" width="300" height="190" />
                    </div>
                    <div class="col-md-5">
                        <label id="barcodeLbl"></label>
                    </div>
                    <div class="col-md-1"></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="PrintImage('barcode')">Print</button>
                @*<button type="button" class="btn btn-primary">Pdf</button>*@
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog" style="max-width:900px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">QR Code</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        @*<table class="table table-striped table-bordered table-hover dataTables-example" id="QrCodeTable"></table>*@
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="QrTable2">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-1">

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="PrintQrCodeForeachRow()">Print</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog" style="max-width:900px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">QR Code</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-10">
                        <img id="SinleQrCode" src="" width="190" height="190" />
                    </div>
                    <div class="col-md-2">

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="PrintImage('SinleQrCode')">Print</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog" style="max-width:900px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Barcode</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        @*<table class="table table-striped table-bordered table-hover dataTables-example" id="BarcodeTable"></table>*@
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="BarcodeTable2">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-1">

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="PrintBarcodeForeachRow()">Print</button>
            </div>
        </div>

    </div>
</div>

<script>



    $('#tab2-3').submit(function (event) {
        event.preventDefault();
    });
    $('#nextbutton').hide();
    $('#loadIcon').hide();
    $('#Windows').val($(this).is(':checked'));

    $('#Windows').change(function () {
        if (!$(this).is(':checked')) {
            $('#userName').attr('disabled', false);
            $('#password').attr('disabled', false);
        }
        else {
            $('#userName').val('');
            $('#password').val('');
            $('#userName').attr('disabled', true);
            $('#password').attr('disabled', true);
        }

    });

    $('#encrypt').change(function () {
        $('#decrypt').prop('checked', false);
    });
    $('#decrypt').change(function () {
        $('#encrypt').prop('checked', false);
    });

    $('#Windows').click(function () {
        if (!$(this).is(':checked')) {
            //return confirm("Are you sure?");

        }
    });

    $("#defaultOpen").css("color", "gray");
    $("#defaultOpen").css("background-color", "white");

    function LoadDatabases() {
        $('#userNameErr').text('');
        $('#PasswordErr').text('');
        $('#serverErr').text('');
        $('#connectErr').text('');
        $('#connectSuccess').text('');
        var dataSource = $('#serverName').val();
        var UserName = $('#userName').val();
        var Password = $('#password').val();
        var prefixName = $('#prefixName').val();
        var auth = $("#Windows").is(":checked") ? "true" : "false";
        if (dataSource == undefined || dataSource == "") {
            $('#serverErr').text('Please enter the server Name');
        }
        else if (auth == "false" && (UserName == '' || Password == '')) {
            $('#userNameErr').text('Enter the UserName');
            $('#PasswordErr').text('Enter the Password');
        }
        else {
            $('#loadIcon').show();
            Data = {
                DataSource: dataSource,
                UserName: UserName,
                Password: Password,
                DataBase: prefixName
            }
            $.ajax({
                type: "POST",
                //url: "/MSSQL/GetDatabases",
                url:'@Url.Action("GetDatabases", "MSSQL")',
                data: ko.toJSON(Data),
                contentType: "application/json",
                success: function (data) {
                    if (data[0] == 'failed') {
                        alert('failed to connect');
                        $('#loadIcon').hide();
                        $('#connectErr').text('Failed to Connect Server');
                    }
                    else {
                        $('#loadIcon').hide();
                        $('#connectSuccess').text('Server Connected');
                        $('#Databases').empty();
                        var option = '';
                        for (var i = 0; i < data.length; i++) {
                            option += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        $('#Databases').append(option);
                        var option1 = '<option value="choose" selected>choose </option>';
                        $('#Databases').append(option1);
                        $('#loadButton').hide();
                        $('#nextbutton').show();
                    }


                },
                error: function (error) {
                    alert(error.status + " " + error.statusText);
                }
            });
        }
    }


    function LoadTables() {

        var dbName = $('#Databases').val();
        cData = {
            DataBase: dbName
        }
        $.ajax({
            type: "POST",
            url:'@Url.Action("GetCategory", "MSSQL")',
            data: ko.toJSON(cData),
            contentType: "application/json",
            success: function (data) {
                $('#Tables').empty();
                var option = '';
                for (var i = 0; i < data.length; i++) {
                    option += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                $('#Tables').append(option);
                var option1 = '<option value="choose" selected>choose </option>';
                $('#Tables').append(option1);
            },
            error: function (error) {
                alert(error.status + " " + error.statusText);
            }
        });
    }

    function loadData() {
        var TableName = $('#Tables').val();
        var dbName = $('#Databases').val();

        $.ajax({
            type: "GET",
            //url: "/MSSQL/GetTableRecords",
            url:'@Url.Action("GetTableRecords", "MSSQL")',
            data: {
                'dataBase': dbName,
                'TableName': TableName
            },
            contentType: "application/json",
            success: function (data) {
                $("#userTable").empty();
                var response = JSON.parse(data);
                var head = "<thead class='thead-inverse'><tr>";
                $.each(response[0], function (k, v) {
                    head = head + "<th scope='row' style='content-align:left;'>" + k.toString() + "</th>";
                })
                head = head + "</thead></tr>";

                $("#userTable ").append(head);
                var body = "<tbody><tr>";
                $.each(response, function (index, value) {
                    body = body + "<tr>";
                    $.each(value, function (key, val) {
                        body = body + "<td>" + val + "</td>";
                    })
                    body = body + "</tr>";
                })
                body = body + "</tbody>";
                $("#HashTable").hide();
                $("#SearchTable").hide();
                $("#userTable").append(body);//append body
            },
            error: function (error) {
                alert(error.status + " " + error.statusText);
            }
        });
    }

    var cols = new Array();


    function LoadColumns() {
        if ($('#Tables').val() == "choose") {
            alert('Please select the Table');
            $('#columns').val('choose');
            $('#searchText').val('');
            $('#SelectedDpdwnlist').empty();
        }
        else {
            var CatName = $('#Tables').val();
            var dbName = $('#Databases').val();

            $.ajax({
                type: "GET",
                url:'@Url.Action("GetColumns", "MSSQL")',
                data: {
                    'dataBase': dbName,
                    'TableName': CatName
                },
                contentType: "application/json",
                success: function (data) {
                    $('#columns').empty();
                    var option = '';
                    for (var i = 0; i < data.length; i++) {
                        option += '<option value="' + data[i] + '">' + data[i] + '</option>';
                    }
                    $("#userTable").show();
                    $("#SearchTable").hide();
                    $('#columns').append(option);
                    var option1 = '<option value="choose" selected>choose </option>';
                    $('#columns').append(option1);
                    //$("#columns option[value='PnPID']").remove();
                    $('#AvailableDpdwnlist').empty();
                    $('#AvailableDpdwnlist').append(option);
                    $('#SelectedDpdwnlist').empty();
                    cols = [];
                    cols = data;
                    //$("#AvailableDpdwnlist option[value='PnPID']").remove();

                    $('#searchText').val('');
                },
                error: function (error) {
                    alert(error.status + " " + error.statusText);
                }
            });

            //loadData();
        }
    }

    function SearchColumnData() {
        $('#columnErr').text('');
        $('#SearchErr').text('');
        if ($('#columns').val() == "choose") {
            $('#columnErr').text('Please Select the column');
        } else
            if ($('#searchText').val() == "") {
                $('#SearchErr').text('Please enter search text');
            }
            else {
                var TableName = $('#Tables').val();
                var dbName = $('#Databases').val();
                var columnName = $('#columns').val();
                var wildcard = $('#wildCards').val();
                var searchText = $('#searchText').val();
                Data = {
                    DataBase: dbName,
                    TableName: TableName,
                    ColumnName: columnName,
                    Wildcard: wildcard,
                    SearchText: searchText
                }
                $.ajax({
                    type: "POST",
                    //url: "/MSSQL/GetColumnFiterTableData",
                    url:'@Url.Action("GetColumnFiterTableData", "MSSQL")',
                    data: ko.toJSON(Data),
                    contentType: "application/json",
                    success: function (data) {
                        $("#SearchTable").empty();
                        var response = JSON.parse(data);
                        var head = "<thead class='thead-inverse'><tr>";
                        $.each(response[0], function (k, v) {
                            head = head + "<th scope='row' style='content-align:left;'>" + k.toString() + "</th>";
                        })
                        head = head + "</thead></tr>";

                        $("#SearchTable ").append(head);
                        var body = "<tbody><tr>";
                        $.each(response, function (index, value) {
                            body = body + "<tr>";
                            $.each(value, function (key, val) {
                                body = body + "<td>" + val + "</td>";
                            })
                            body = body + "</tr>";
                        })
                        body = body + "</tbody>";
                        $("#userTable").hide();
                        $("#SearchTable").show();
                        $("#SearchTable").append(body);//append body
                    },
                    error: function (error) {
                        alert(error.status + " " + error.statusText);
                    }
                });
            }

    }

    function forwardToSelectDrpdwn() {
        var options1 = $('#SelectedDpdwnlist option');
        var selectedDdp1 = $.map(options1, function (option) {
            return option.value;
        });

        if (selectedDdp1.length == 5) {
            alert("You can select maximum 5 columns");
        }
        else {
            //$('#SelectedDpdwnlist').empty();
            var availDdp = $('#AvailableDpdwnlist').val();
            var option = "";
            for (var i = 0; i < availDdp.length; i++) {
                option += '<option selected value="' + availDdp[i] + '">' + availDdp[i] + '</option>';
                $("#AvailableDpdwnlist option[value='" + availDdp[i] + "']").remove();
            }
            $('#SelectedDpdwnlist').append(option);
        }
    }

    function DisSelectDrpdwn() {
        var selectedDdp = $('#SelectedDpdwnlist').val();
        var option = "";
        for (var i = 0; i < selectedDdp.length; i++) {
            option += '<option value="' + selectedDdp[i] + '">' + selectedDdp[i] + '</option>';
            $("#SelectedDpdwnlist option[value='" + selectedDdp[i] + "']").remove();
        }
        $('#AvailableDpdwnlist').append(option);
    }


    function Run() {
        var options1 = $('#SelectedDpdwnlist option');
        var selectedDdp1 = $.map(options1, function (option) {
            return option.value;
        });
        var options = $('#SelectedDpdwnlist option');
        if (options.length == 0) {
            $('#checkboxErr').text('Please select the minimum one column');
        } else
        if (selectedDdp1.length > 5) {
            alert("Please select maximum 5 columns");
        }
        else {
            var options = $('#SelectedDpdwnlist option');
            var selectedDdp = $.map(options, function (option) {
            return option.value;
            });
            var TableName = $('#Tables').val();
            var dbName = $('#Databases').val();

            Data = {
                   DataBase: dbName,
                   TableName: TableName,
                   ColumnNames: selectedDdp
            }

            $.ajax({
                        type: "POST",
                        url:'@Url.Action("GetColumnData", "MSSQL")',
                        data: ko.toJSON(Data),
                        contentType: "application/json",
                        success: function (data) {
                            $("#HashTable").empty();
                            $("#FilterTable ").empty();
                            //$("#QrCodeTable").empty();
                            //$("#BarcodeTable").empty();//barcode
                            var response = JSON.parse(data);
                            //var head = "<thead class='thead-inverse'><tr>";
                            var head = "<thead class='thead-inverse'><tr><th></th>";
                            //var qrhead = "<thead class='thead-inverse'><tr>";
                            //var barhead = "<thead class='thead-inverse'><tr>";//barcode
                            $.each(response[0], function (k, v) {
                                head = head + "<th scope='row' style='content-align:left;'>" + k.toString() + "</th>";
                                //qrhead = qrhead + "<th scope='row' style='content-align:left;'>" + k.toString() + "</th>";
                                //barhead = barhead + "<th scope='row' style='content-align:left;'>" + k.toString() + "</th>";//barcode
                            })
                            head = head + "<th>Url</th><th>QR Code</th><th>BarCode</th><th style='display:none;'>json</th></thead></tr>";
                            //qrhead = qrhead + "<th>QR Code</th><th style='display:none;'>json</th></thead></tr>";
                            //barhead = barhead + "<th>QR Code</th><th style='display:none;'>json</th></thead></tr>";//barcode

                            $("#HashTable ").append(head);
                            //$("#QrCodeTable ").append(qrhead);
                            //$("#BarcodeTable").append(barhead);//barcode
                            var body = "<tbody><tr>";
                            //var qrbody = "<tbody><tr>";
                            //var barbody = "<tbody><tr>";//barcode
                            var jsonBarcode;
                            var img = 1;                            
                            $.each(response, function (index, value) {
                                jsonBarcode = jsonConstruct(index, value);
                                //body = body + "<tr class='content'>";                                
                                body = body + "<tr class='content'><td><input type='checkbox'/></td>";
                                //qrbody = qrbody + "<tr class='content'>";                                
                                //barbody = barbody + "<tr class='content'>";//barcode

                                $.each(value, function (key, val) {
                                    body = body + "<td>" + val + "</td>";
                                    //qrbody = qrbody + "<td>" + val + "</td>";
                                    //barbody = barbody + "<td>" + val + "</td>";//barcode
                                })
                                var UrlId = "url" + img;
                                body = body + "<td><input type='text' class='form-control' id='" + UrlId + "'/></td><td><a data-toggle='modal' data-target='#myModal' onclick='GenerateQRcode(" + jsonBarcode + "," + UrlId+ ")' ><img src='../images/qrcode.png' alt='qrcode' width='25' height='25'/></a></td><td><a data-toggle='modal' onclick='GenerateBarcode(" + jsonBarcode +")' data-target='#myModal2' ><img src='../images/barcode.png' alt='barcode' width='25' height='25'/></a>"
                                    + " </td > <td style='display:none;'>" +
                                    jsonBarcode
                                    + "</td></tr > ";
                                //var imgId = "imag" + img;
                                //var imgId2 = "imagbar" + img;//barcode
                                //qrbody = qrbody + "<td><img id='" + imgId + "' src='' width='100' height='100'></td>";
                                //barbody = barbody + "<td><img id='" + imgId2 + "' src='' width='150' height='75'></td>";//barcode
                                //GenerateQRcodeForeachRow(jsonBarcode, imgId);
                                //GenerateBarcodeForeachRow(jsonBarcode, imgId2);//barcode
                                //qrbody = qrbody + "<td style='display:none;'>" + jsonBarcode + "</td></tr > ";
                                //barbody = barbody + "<td style='display:none;'>" + jsonBarcode + "</td></tr > ";//barcode
                                img++;
                            })
                            
                            body = body + "</tbody>";
                            //qrbody = qrbody + "</tbody>";
                            //barbody = barbody + "</tbody>";//barcode
                            $("#userTable").hide();
                            $("#SearchTable").hide();
                            $("#HashTable").show();
                            $("#HashTable").append(body);//append body
                            //$("#QrCodeTable").append(qrbody);//append body
                            //$("#BarcodeTable").append(barbody);//append body

                            //========Start Filter====================
                            var head1 = "<thead class='thead-inverse'><tr>";
                            for (var i = 0; i < selectedDdp.length; i++) {
                                head1 = head1 +"<th scope='row' style='content-align:left;'>" + selectedDdp[i] + "</th>";
                            }
                            head1 = head1 + "</thead ></tr >";
                            $("#FilterTable ").append(head1);
                            var body1 = "<tbody><tr>";
                            body1 = body1 + "<tr class='content'>";
                            var j = 1;
                            for (var k = 1; k <= selectedDdp.length+1;k++) {
                                var columnList=arrayElements(k);
                                var uniqlist = makeUniqueList(columnList);
                                var foption = "<option>choose</option>";
                                for (i = 1; i < uniqlist.length; i++) {
                                    foption += "<option>" + uniqlist[i] + "</option >";
                                }

                                var selctid = "filterText" + j;
                                if (j>1) {
                                    body1 = body1 + "<td><select id='" + selctid + "' onchange=\"filterText('" + selctid + "');\" class='form-control'>" + foption + "</select></td>";
                                }
                                
                                j++;
                            }
                            body1 = body1 + "</tr></tbody>";
                            //body1 = body1 + "<td><button onclick='filterTable();' class='btn btn-success'>Filter</button></td></tr></tbody>";
                            $("#FilterTable ").append(body1);
                            //========End Filter====================
                        },
                        error: function (error) {
                            alert(error.status + " " + error.statusText);
                        }
            });
        }

    }

    //function filterTable() {
    //    var j = 1;
    //    var selctid = [];
    //    for (var k = 1; k <= selectedDdp.length; k++) {
    //        selctid.push("filterText" + j);
    //        j++;

    //    }

    //    $("#FilterTable ").append(body1);

    //}

    function arrayElements(ele) {
        var arr = [];
        $("#HashTable tr").each(function () {
            arr.push($(this).find("td:nth-child("+ele+")").text());
        });
        return arr;
    }

    function makeUniqueList(list) {
        var result = [];
        $.each(list, function (i, e) {
            if ($.inArray(e, result) == -1) result.push(e);
        });
        return result;
    }

    function filterText(id) {
        var rex = new RegExp($('#'+id).val());
        if (rex == "/choose/") { clearFilter() } else {
            $('.content').hide();
            $('.content').filter(function () {
                return rex.test($(this).text());
            }).show();
        }
    }

    function clearFilter() {
        $('.filterText').val('');
        $('.content').show();
    }

    function jsonConstruct(index, Value) {
        jsonObj = [];
        $.each(Value, function (key, val) {
            item = {}
            item[key] = val;
            jsonObj.push(item);
        })
        return JSON.stringify(jsonObj);
    }

    function GenerateQRcode(jsonBarcode, UrlId) {
        var urll = $('#' + UrlId.id).val();       
        jsonBarcode.push({ Url: urll });        
        $('#barcode').attr("src", "");
        $('#barcodeLbl').text("");
        var Data1 = ko.toJSON(jsonBarcode);
        $.ajax({
            type: "GET",
            url: '@Url.Action("SingleQRCode", "MSSQL")',
            data: { "Text": Data1},
            contentType: "application/json",
            success: function (data) {
                $('#qrCode').attr("src", data);
                $('#qrcodeLbl').text(Data1);
            },
            error: function (error) {
                alert(error.status + " " + error.statusText);
            }
        });
    }

    function GenerateQRcodeForeachRow(jsonBarcode, imgId) {
        $('#' + imgId).attr("src", "");
        $('#barcodeLbl').text("");
        var Data1 = ko.toJSON(jsonBarcode);
        $.ajax({
            type: "GET",
            url: '@Url.Action("SingleQRCode", "MSSQL")',
            data: { "Text": Data1},
            contentType: "application/json",
            success: function (data) {
                $('#' + imgId).attr("src", data);
                $('#qrcodeLbl').text(Data1);
                some= data;
            },
            error: function (error) {
                alert(error.status + " " + error.statusText);
            }
        });
    }



    function GenerateBarcode(jsonBarcode) {
        $('#barcode').attr("src", "");
        $('#barcodeLbl').text("");
        var Data1 = ko.toJSON(jsonBarcode);
        $.ajax({
            type: "GET",
            url: '@Url.Action("SingleBarCode", "MSSQL")',
            data: { "Text": Data1 },
            contentType: "application/json",
            success: function (data) {
                $('#barcode').attr("src", data);
                $('#barcodeLbl').text(Data1);
            },
            error: function (error) {
                alert(error.status + " " + error.statusText);
            }
        });
    }

    function changeToTableFilter() {
        $("#tableFilter").css("color", "gray");
        $("#tableFilter").css("background-color", "white");
        $("#defaultOpen").css("background-color", "#f1f1f1");
        $("#defaultOpen").css("color", "cornflowerblue");
        $("#dbFilter").css("background-color", "#f1f1f1");
        $("#dbFilter").css("color", "cornflowerblue");

    }

    function changeToColumnFilter() {
        $("#tableFilter").css("color", "cornflowerblue");
        $("#tableFilter").css("background-color", "#f1f1f1");
        $("#defaultOpen").css("background-color", "#f1f1f1");
        $("#defaultOpen").css("color", "cornflowerblue");
        $("#dbFilter").css("color", "gray");
        $("#dbFilter").css("background-color", "white");

    }

    function BackToDbFilter() {
        $("#tableFilter").css("background-color", "#f1f1f1");
        $("#tableFilter").css("color", "cornflowerblue");
        $("#defaultOpen").css("color", "gray");
        $("#defaultOpen").css("background-color", "white");
        $("#dbFilter").css("background-color", "#f1f1f1");
        $("#dbFilter").css("color", "cornflowerblue");

    }

    function ImagetoPrint(source) {
        return "<html><head><scri" + "pt>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt></head><body onload='step1()'>\n" +
            "<img src='" + source + "' /></body></html>";
    }

    function PrintImage(lbl) {
        var source = $('#' +lbl).attr('src');
        var Pagelink = "about:blank";
        var pwa = window.open(Pagelink, "_new");
        pwa.document.open();
        pwa.document.write(ImagetoPrint(source));
        pwa.document.close();
    }

    function PrintQrCodeForeachRow(){
        var pageTitle = 'Page Title',
            stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
            win = window.open('', 'Print', 'width=500,height=300');
        win.document.write('<html><head><title>' + pageTitle + '</title>' +
            '<link rel="stylesheet" href="' + stylesheet + '">' +
            '</head><body>' + $('#QrTable2')[0].outerHTML + '</body></html>');
        win.document.close();
        win.print();
        win.close();
        return false;
    }

    function html2json() {
        $('#tableY').empty();
        head ="<thead></thead>";
        body ="<tbody></tbody>";
        $('#tableY').append(head);
        $('#tableY').append(body);
        var options = $('#SelectedDpdwnlist option');
        var selectedDdp = $.map(options, function (option) {
            return option.value;
        });
        var col = parseInt(selectedDdp.length);

        for (var j = 0; j < col; j++) {
            if ($('table#tableY thead').children().length === 0) {
                $('table#tableY thead').append('<tr></tr>');
            }

            $('table#tableY thead tr').append('<th>' + $($('table#HashTable thead tr').children()[j]).text() + '</th>');

            $('table#HashTable tbody tr:visible').each(function (i) {
                if ($('table#tableY tbody').children().length != $('table#HashTable tbody').children().length) {
                    $('table#tableY tbody').append('<tr></tr>');
                }
                $('table#tableY tbody tr:nth-child(' + (i + 1) + ')').append('<td>' + $($(this).children()[j]).text() + '</tr>');
            });
        }

        var myRows = [];
        var $headers = $("#tableY th");
        var $rows = $("#tableY tbody tr").each(function (index) {
            $cells = $(this).find("td");
            myRows[index] = {};
            $cells.each(function (cellIndex) {
                myRows[index][$($headers[cellIndex]).html()] = $(this).html();
            });
        });

        // Let's put this in the object like you want and convert to JSON (Note: jQuery will also do this for you on the Ajax request)
        var myObj = {};
        //myObj.myrows = myRows;
        myObj = myRows;
        $.each(myObj, function (key, value) {
            if (typeof myObj[key] === 'object' && Object.keys(myObj[key]).length == 0) {
                delete myObj[key];
            }
            else {
                $.each(value, function (k, v) {
                    if (v === "" || v === null) {
                        delete myObj[key];
                    }
                })
            }
        });
        return myObj;
    }

    function GenerateSingleQRcodeForAllRows() {
        var ss = html2json();
        var filtered = ss.filter(function (el) {
            return el != null;
        });
        if (filtered.length <= 50) {
            var jsonData = JSON.stringify(filtered);           
            $('#SinleQrCode').attr("src", "");
            var Data1 = ko.toJSON(jsonData);
            $.ajax({
                type: "GET",
                url: '@Url.Action("SingleQRCode", "MSSQL")',
                data: { "Text": Data1},
                contentType: "application/json",
                success: function (data) {
                    $('#SinleQrCode').attr("src", data);
                    some = data;
                    $('#myModal4').modal('show');
                },
                error: function (error) {
                    alert(error.status + " " + error.statusText);
                }
            });
        }
        else {
            alert("please select maximum 50 records");
        }

    }

    function GenerateBarcodeForeachRow(jsonBarcode, imgId) {
        $('#' + imgId).attr("src", "");
        $('#barcodeLbl').text("");
        var Data1 = ko.toJSON(jsonBarcode);
        $.ajax({
            type: "GET",
            url: '@Url.Action("SingleBarCode", "MSSQL")',
            data: { "Text": Data1},
            contentType: "application/json",
            success: function (data) {
                $('#' + imgId).attr("src", data);
                $('#qrcodeLbl').text(Data1);
                some= data;
            },
            error: function (error) {
                alert(error.status + " " + error.statusText);
            }
        });
    }
    function PrintBarcodeForeachRow() {
        var pageTitle = 'Page Title',
            stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
            win = window.open('', 'Print', 'width=500,height=300');
        win.document.write('<html><head><title>' + pageTitle + '</title>' +
            '<link rel="stylesheet" href="' + stylesheet + '">' +
            '</head><body>' + $('#BarcodeTable2')[0].outerHTML + '</body></html>');
        win.document.close();
        win.print();
        win.close();
        return false;
    }

    function getFilterData() {
        CopyToQrTable("QrTable2");
        $('table#QrTable2').find('tr').each(function () {
            this.removeChild(this.cells[0]);
        });
    }
    function CopyToQrTable(QrTable1) {
        $('#' + QrTable1).empty();
        head = "<thead></thead>";
        body = "<tbody></tbody>";
        $('#' + QrTable1).append(head);
        $('#' + QrTable1).append(body);
        var options = $('#SelectedDpdwnlist option');
        var selectedDdp = $.map(options, function (option) {
            return option.value;
        });
        var col = parseInt(selectedDdp.length+1);

        for (var j = 0; j < col; j++) {
            if ($('table#' + QrTable1+' thead').children().length === 0) {
                $('table#' + QrTable1 +' thead').append('<tr></tr>');
            }

            $('table#' + QrTable1 + ' thead tr').append('<th>' + $($('table#HashTable thead tr').children()[j]).text() + '</th>');            
        }
        $('table#' + QrTable1 + ' thead tr').append('<th>QR Code</th>');
        var rr = 1;
        $('table#HashTable input[type=checkbox]:checked').each(function (i) {
            if ($('table#' + QrTable1 + ' tbody').children().length != $('table#HashTable tbody').children().length) {
                $('table#' + QrTable1 + ' tbody').append('<tr></tr>');
            }
            var row = $(this).closest("tr")[0];
            var td = '<td></td>';
            for (var z = 1; z <= selectedDdp.length; z++) {                
                td = td + '<td>' + row.cells[z].innerHTML + '</td>';
            }
            var QrimgId = "QrImag" + rr;
            $('table#' + QrTable1 + ' tbody tr:nth-child(' + (i + 1) + ')').append(td + "<td> <img id='" + QrimgId + "' src='' width='100' height='100'></td></tr>");
            var myRows = [];
            var min = '';
            var $headers = $("#" + QrTable1 +" th");
            var $rows = $("#" + QrTable1 +" tbody tr").each(function (index) {
                $cells = $(this).find("td");
                while (myRows.length > 0) {
                    myRows.pop();
                }
                
                myRows[index] = {};
                $cells.each(function (cellIndex) {
                    var cn = cellIndex;                    
                    if (cn < $cells.length-1) {
                        if (cellIndex > 0) {
                            myRows[index][$($headers[cellIndex]).html()] = $(this).html();
                        }
                    }
                    
                    
                });
                min = myRows;                
            });
            var filtered = min.filter(function (el) {
                return el != null;
            });
            var jsonData = JSON.stringify(filtered);
            GenerateQRcodeForeachRow(jsonData, QrimgId);
            //var myObj = {};
            //myObj.myrows = myRows;
           // myObj = myRows;
           // var jsonData = JSON.stringify(myObj); 
            //GenerateQRcodeForeachRow(jsonData, QrimgId);
            rr++;
        });
        
    }

    function GetBarcodeFilterData() {
        CopyToBarcodeTable("BarcodeTable2");
        $('table#BarcodeTable2').find('tr').each(function () {
            this.removeChild(this.cells[0]);
        });
    }

    function CopyToBarcodeTable(QrTable1) {
        $('#' + QrTable1).empty();
        head = "<thead></thead>";
        body = "<tbody></tbody>";
        $('#' + QrTable1).append(head);
        $('#' + QrTable1).append(body);
        var options = $('#SelectedDpdwnlist option');
        var selectedDdp = $.map(options, function (option) {
            return option.value;
        });
        var col = parseInt(selectedDdp.length + 1);

        for (var j = 0; j < col; j++) {
            if ($('table#' + QrTable1 + ' thead').children().length === 0) {
                $('table#' + QrTable1 + ' thead').append('<tr></tr>');
            }

            $('table#' + QrTable1 + ' thead tr').append('<th>' + $($('table#HashTable thead tr').children()[j]).text() + '</th>');
        }
        $('table#' + QrTable1 + ' thead tr').append('<th>QR Code</th>');
        var rr = 1;
        $('table#HashTable input[type=checkbox]:checked').each(function (i) {
            if ($('table#' + QrTable1 + ' tbody').children().length != $('table#HashTable tbody').children().length) {
                $('table#' + QrTable1 + ' tbody').append('<tr></tr>');
            }
            var row = $(this).closest("tr")[0];
            var td = '<td></td>';
            for (var z = 1; z <= selectedDdp.length; z++) {
                td = td + '<td>' + row.cells[z].innerHTML + '</td>';
            }
            var QrimgId = "BarImag" + rr;
            $('table#' + QrTable1 + ' tbody tr:nth-child(' + (i + 1) + ')').append(td + "<td> <img id='" + QrimgId + "' src='' width='150' height='100'></td></tr>");
            var myRows = [];
            var min = '';
            var $headers = $("#" + QrTable1 + " th");
            var $rows = $("#" + QrTable1 + " tbody tr").each(function (index) {
                $cells = $(this).find("td");
                while (myRows.length > 0) {
                    myRows.pop();
                }

                myRows[index] = {};
                $cells.each(function (cellIndex) {
                    var cn = cellIndex;
                    if (cn < $cells.length - 1) {
                        if (cellIndex > 0) {
                            myRows[index][$($headers[cellIndex]).html()] = $(this).html();
                        }
                    }


                });
                min = myRows;
            });
            var filtered = min.filter(function (el) {
                return el != null;
            });
            var jsonData = JSON.stringify(filtered);
            GenerateBarcodeForeachRow(jsonData, QrimgId);            
            rr++;
        });

    }
</script>

